@charset "utf-8";
/* CSS Document */

/* 主体公共元素设置 */
.fix{*zoom:1;}
.fix:after{display:table; content:''; clear:both;}

.child-menu{
	margin-left:0;
	position: fixed;
	left: 0;
	top: 0;
	float:left;
}

.menu-box-1{
	position:absolute;
	left:290px;
	display:none;
	top:0;
	height:24px;
	padding:8px 5px;
	background-color:#333;
	z-index:100;
}

.menu-box-1:hover{
	background-color:#aa2e2e;
}

.menu-box-1 img{
	height:100%;
}

.content{
	float:left;
	width:calc(100% - 290px);
	-o-width:calc(100% - 290px);
	-ms-width:calc(100% - 290px);
	-moz-width:calc(100% - 290px);
	-webkit-width:calc(100% - 290px);
	margin-left:290px;
	min-height:100vh;
}

@media(max-width:1440px){
	.left-menu{
		margin-left:-290px;
		z-index:999;
	}
	
	.menu-box-1{
		display:block;
	}
	
	.content{
		width:100%;
		min-height:100vh;
		margin-left:0;
	}
}

.content .main-cont{
	width:94%;
	padding:3%;
}

.nav-copy > li{
	float:left;
	padding:10px 20px;
	margin-right:2px;
	background-color:white;
	line-height:20px;
	height:20px;
	position:relative;
}

li > i.change{
	display:block;
	width:0;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	background-color:#aa2e2e;
	transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}

.nav-copy > li img{
	height:100%;
	position:relative;
	z-index:2;
}

.nav-copy > li img#search-img-1{
	display:inline-block;
}

.nav-copy > li img#search-img-2{
	display:none;
}

.nav-copy > li dl{
	position:absolute;
	z-index:999;
	left:0;
	top:41px;
	display:none;
}

.nav-copy > li dl dd{
	width:8em;
	padding:0 20px;
	line-height:40px;
	height:40px;
	border-bottom:1px solid #ddd;
	background-color:#FFF;
	overflow:hidden;
	font-size:16px;
}

.nav-copy > li dl img.cc{
	display:block;
	margin-left:10px;
	height:12px;
	margin-bottom:-1px;
}

.nav-copy > li dl dd:last-child{
	border-bottom:none;
}

.nav-copy > li dl dd a{
	display:block;
}

.nav-copy > li dl dd a:hover{
	color: #aa2e2e;
}

li:hover > i.change{
	width:100%;
}

.nav-copy > li:hover > a{
	color:white;
}

.nav-copy > li:hover > dl{
	display:block;
}

.nav-copy > li:hover img#search-img-1{
	display:none;
}

.nav-copy > li:hover img#search-img-2{
	display:inline-block;
}

.nav-copy > li a{
	color:#666;
	position:relative;
	z-index:2;
}

.nav-copy > li.nav-select{
	background-color:#aa2e2e;
}
 
.nav-copy > li.nav-select a{
	color:white;
}

.nav-copy{
	margin-bottom:50px;
}

.nav-copy > li form{
	display:none;
	overflow:hidden;
	position:absolute;
	left:0;
	top:40px;
	z-index:999;
}

.nav-copy > li form img.cc{
	display:block;
	margin-left:10px;
	height:10px;
	margin-bottom:-1px;
}
/*-- end --*/


/* 精选案例 */
.txt-box{
	width:calc(100% - 80px);
	-o-width:calc(100% - 80px);
	-ms-width:calc(100% - 80px);
	-moz-width:calc(100% - 80px);
	-webkit-width:calc(100% - 80px);
	background-color:white;
	padding:40px;
	overflow:hidden;
	position:relative;
}

.content h1{
	font-size:30px;
	color:#000;
	padding:20px 0;
	position:relative;
}

.txt-box p{
	margin-bottom:20px;
	text-align:justify;
	text-indent:2em;
	font-size:16px;
	color:#666;
	line-height:30px;
	clear:both;
}

.immg-box{
	float:left;
	width:41%;
	padding-top:32%;
	margin-left:4%;
	margin-right:5%;
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
}

.immg-box img{
	position:absolute;
	left:0;
	top: 50%;
    transform: translateY(-50%);
    width: 100%; /* 根据需要调整宽度 */
    margin: 0 auto;
    padding-left: 10%;
}
.img-boox {
    float: left;
    width: 47%;
    padding-top: 32%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  .img-boox p {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80%; /* 根据需要调整宽度 */
    margin: 0 auto;
    padding-left: 10%;
  }

/*-- case1和case2--*/
.img-box{
	float:left;
	width:45%;
	padding-top:32%;
	margin-left:3%;
	margin-right:2%;
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
}
.img-box img{
	position:absolute;
	left:0;
	top:0;
	height:100%;
}
/*-- end --*/


/*荆楚非遗展*/
.pro-list{
	overflow:hidden;
	width:100%;
}

.pro-list li{
	width:calc(100% / 4 - 20px);
	-o-width:calc(100% / 4 - 20px);
	-ms-width:calc(100% / 4 - 20px);
	-moz-width:calc(100% / 4 - 20px);
	-webkit-width:calc(100% / 4 - 20px);
	margin-right:20px;
	float:left;
	margin-bottom:30px;
}

.pro-list li .pro-img{
	width:100%;
	height:0;
	position:relative;
	padding-top:100%;
	overflow:hidden;
}

.pro-list li .pro-img img{
	height:100%;
	position:absolute;
	left:0;
	top:0;
	transform:scale(1,1);
}

.pro-list li:hover .pro-img img{
	transform:scale(1.05,1.05);
}

.pro-list .pic-txt{
	width:calc(100% - 30px);
	-o-width:calc(100% - 30px);
	-ms-width:calc(100% - 30px);
	-moz-width:calc(100% - 30px);
	-webkit-width:calc(100% - 30px);
	padding:10px 15px;
	position:relative;
	overflow:hidden;
}

.pro-list .pic-txt .txt-left{
	float:none;
	width:100%;
}

@media (min-width:900px) and (max-width:1366px){
	li .pic-txt .txt-left p{
		display:none;
	}
}

@media (max-width:900px){
	li .pic-txt .txt-left p{
		display:block;
	}
	
	.pro-list li{
		width:calc(100% / 2 - 20px);
		-o-width:calc(100% / 2 - 20px);
		-ms-width:calc(100% / 2 - 20px);
		-moz-width:calc(100% / 2 - 20px);
		-webkit-width:calc(100% / 2 - 20px);
		margin-right:20px;
		float:left;
		margin-bottom:30px;
	}
}

.page{
	display:table;
	margin:30px auto;
	overflow:hidden;
}

.page > li{
	float:left;
	position:relative;
}

.page > li a{
	display:block;
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
	color:#666;
	position:relative;
	z-index:1;
}

.page > li a.selected{
	background-color:#aa2e2e;
	color:#fff;
}

.page > li a:hover{
	color:#fff;
}
/*-- end --*/

/*新闻动态*/
.box{
	width:100%;
	overflow:hidden;
}

.box .main{
	width:calc(76% - 90px);
	-o-width:calc(76% - 90px);
	-ms-width:calc(76% - 90px);
	-moz-width:calc(76% - 90px);
	-webkit-width:calc(76% - 90px);
	float:left;
	background-color:#FFF;
	margin-right:30px;
	padding:10px 30px;
	position:relative;
}

.box .rcom{
	width:calc(24% - 40px);
	-o-width:calc(24% - 40px);
	-ms-width:calc(24% - 40px);
	-moz-width:calc(24% - 40px);
	-webkit-width:calc(24% - 40px);
	float:right;
	background-color:#fff;
	padding:20px 20px 40px 20px;
	position:relative;
	overflow:hidden;
}

.box .main .list{
	width:100%;
	overflow:hidden;
}

.box .main .list > li a{
	display:block;
	width:100%;
	border-bottom:1px solid #ddd;
	overflow:hidden;
	padding:20px 0;
}

.left-img{
	float:left;
	width:200px;
	height:120px;
	overflow:hidden;
	margin-right:20px;
}

.left-img img{
	width:100%;
}

.right-info{
	float:right;
	width:calc(100% - 220px);
	-o-width:calc(100% - 220px);
	-ms-width:calc(100% - 220px);
	-moz-width:calc(100% - 220px);
	-webkit-width:calc(100% - 220px);
	margin:5px 0;
	overflow:hidden;
	height:110px;
}

.right-info h2{
	font-size:18px;
	margin-bottom:10px;
	color:#000;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
}

.right-info p{
	font-size:16px;
	margin-bottom:10px;
	line-height:22px;
	color:#666;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.right-info span{
	font-size:14px;
	color:#999;
	display:block;
	float:left;
	margin-right:20px;
}

a:hover .right-info h2{
	color:#aa2e2e;
	text-decoration:underline;
}

.content .rcom h1{
	font-size:20px;
	padding:10px 0;
}

.content .rcom hr{
	width:80px;
	top:56px;
	left:20px;
	background-color:#AA2E2E;
}

.rcom-list > li a{
	display:block;
	width:100%;
	padding-top:20px;
	overflow:hidden;
}

.rcom-list .left-img{
	width:116px;
	height:70px;
	margin-right:0;
}

.rcom-list .right-info{
	float:right;
	width:calc(100% - 130px);
	-o-width:calc(100% - 130px);
	-ms-width:calc(100% - 130px);
	-moz-width:calc(100% - 130px);
	-webkit-width:calc(100% - 130px);
	margin:0;
	overflow:hidden;
	height:70px;
}

.rcom-list .right-info h2{
	font-size:16px;
	margin-bottom:10px;
	color:#000;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space:normal;
}

.rcom-list .right-info span{
	padding-left:20px;
	background:url(../img/TIME-1.png) no-repeat left center;
}

.rcom-list li:hover .right-info span{
	color:#AA2E2E;
	background:url(../img/TIME-2.png) no-repeat left center;
}

@media (min-width:1367px) and (max-width:1600px){
	.rcom-list .right-info span{
		padding-left:0;
		background:none;
	}
	
	.rcom-list li:hover .right-info span{
		background:none;
	}
}

@media (max-width:1300px){
	.box .main{
		width:calc(100% - 90px);
		-o-width:calc(100% - 90px);
		-ms-width:calc(100% - 90px);
		-moz-width:calc(100% - 90px);
		-webkit-width:calc(100% - 90px);
		float:none;
		margin-right:0;
	}
	
	.box .rcom{
		width:calc(100% - 60px);
		-o-width:calc(100% - 60px);
		-ms-width:calc(100% - 60px);
		-moz-width:calc(100% - 60px);
		-webkit-width:calc(100% - 60px);
		float:none;
		margin-top:30px;
		padding:20px 30px 30px 30px;
	}
	
	.content .rcom hr{
		width:80px;
		top:56px;
		left:30px;
	}
	
	.box .main-cc{
		width:calc(76% - 90px);
		-o-width:calc(76% - 90px);
		-ms-width:calc(76% - 90px);
		-moz-width:calc(76% - 90px);
		-webkit-width:calc(76% - 90px);
		float:left;
		margin-right:30px;
	}
	
	.box .pic-rcom{
		width:calc(24% - 40px);
		-o-width:calc(24% - 40px);
		-ms-width:calc(24% - 40px);
		-moz-width:calc(24% - 40px);
		-webkit-width:calc(24% - 40px);
		float:right;
		padding:20px 20px 40px 20px;
		margin-top:0;
	}
	
	.content .pic-rcom hr{
		left:20px;
	}
}
/*-- end --*/


/*新闻详情*/
.main2{
	width:calc(100% - 90px);
	-o-width:calc(100% - 90px);
	-ms-width:calc(100% - 90px);
	-moz-width:calc(100% - 90px);
	-webkit-width:calc(100% - 90px);
	float:left;
	background-color:#FFF;
	margin-right:30px;
	padding:10px 30px;
	position:relative;
}
.info{
	font-size:16px;
	color:#999;
	margin-top:10px;
	overflow:hidden;
}

.info span{
	display:block;
	padding-left:22px;
	float:left;
	margin-right:20px;
}

#date{
	background:url(../img/TIME-1.png) no-repeat left center;
}

#writer{
	background:url(../img/USER.png) no-repeat left center;
}

.otherPage{
	width:100%;
	margin:30px 0;
	border-top:1px solid #ddd;
	overflow:hidden;
	font-size:18px;
}

.otherPage a{
	padding:10px 20px;
	border:1px solid #ddd;
	max-width:calc(50% - 50px);
	margin:30px 0;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
	display:block;
	color:#000;
}

.otherPage span{
	color:#666;
}

.otherPage a:hover span{
	color:#aa2e2e;
}

.otherPage a:hover{
	color:#aa2e2e;
	border:1px solid #aa2e2e;
}

.otherPage .prev-page{
	float:left;
}

.otherPage .next-page{
	float:right;
}

.main .txt-box{
	padding-left:0;
	padding-right:0;
	width:100%;
}

.txt-box > img{
	 display:block;
	 width:86%;
	 margin:0 auto 20px auto;
}
/*-- end --*/


/* ==== start case-study-wrapper style ==== */
.case-study-img {
	margin-top: 30px;
	text-align: center;
  }
  
  .case-study-wrapper {
	background-color: #F3F6FF;
  }
  
  .zoom-gallery {
	  line-height: 0;
  }
  
  .case-study-wrapper-2 .case-study-img {
	margin-top: 0;
  }
  
  .case-study-wrapper-2 .case-study-img img {
	cursor: zoom-in;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
  }
  
  .case-study-wrapper-2 .case-study-img:hover img {
	opacity: .5;
  }
  
  .case-study-item-pop {
	margin-top: 20px;
  }
  
  .case-study-item-pop h4 {
	  font-size: 20px;
	  font-weight: 600;
	  color: #222;
	  text-align: center;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
  }
  
  .case-study-wrapper-2 .case-study-img:hover .case-study-item-pop h4 {
	color: #ff2c9c;
  }
  
  .borderTopLeftRadius {
	border-top-left-radius: 30px;
  }
  
  .borderBottomLeftRadius {
	border-bottom-left-radius: 30px;
  }
  
  .borderBottomRightRadius {
	border-bottom-right-radius: 30px;
  }
  
  .case-study-sidebar {
	  margin-top: -6px;
  }
  
  .case-study-sidebar h2 {
	color: #222;
	font-size: 28px;
	margin-bottom: 30px;
	font-weight: 700;
  }
  
  .case-study-sidebar ul li {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-bottom: 1px solid #eee;
	position: relative;
  }
  
  .case-study-sidebar ul li a {
	display: block;
  }
  
  .case-study-sidebar ul li:first-child {
	border-top: 1px solid #eee;
  }
  
  .case-study-sidebar ul li span {
	font-size: 12px;
	position: absolute;
	top: 50%;
	right: 45px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	opacity: 0;
  }
  
  .case-study-sidebar ul li.active span,
  .case-study-sidebar ul li:hover span {
	right: 5px;
	opacity: 1;
  }
  
  .case-study-sidebar ul li.active {
	  font-weight: 500;
	  color: #000;
  }
  
  .case-study-item {
	margin-bottom: 50px;
  }
  
  .case-study-item:last-child {
	  margin-bottom: 0;
  }
  
  .case-study-item-info h4 {
	font-size: 20px;
	color: #001634;
	font-weight: 600;
  }
  
  .case-study-item-info span {
	margin-top: 7px;
	display: inline-block;
  }
  
  .case-study-item-info a {
	color: #001634;
	font-weight: 500;
	margin-top: 40px;
	display: inline-block;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
  }
  
  .case-study-item-info a:hover {
	color: #ff2c9c;
  }
  
  .case-study-item-info a span {
	font-size: 12px;
  }
  
  .case-study-item-info p {
	  font-size: 18px;
	  margin-top: 25px;
  }
  
  /* ==== end case-study-wrapper style ==== */
  